body {
	background: #f5f5f5;
	margin: 0;

	*	{
		font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
		line-height: 1.4;
		color:  #333;
	}
	#root {
		background: #f5f5f5;
		.main {
			background: white;
			padding: 10px;
			max-width: 1024px;
			margin: auto;
			box-shadow: 0 0 10px rgba(155,155,155,0.5);
		}
	}
	.f {
		display: flex;
		&.r {
			flex-direction: row;
		}
		&.c {
			flex-direction: column;
		}
	}
	.fc {
		justify-content: center;
		align-items: center
	}
}


@font-face {
	font-family: 'HemiHead';
	src:  url('/static/hemihead.ttf') format('truetype');
}

@import './sideMenu.less';
@import './listView.less';
@import './singleView.less';
@import './pagination.less';

