@primary: #f72020;
@hemi: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
@normal: Helvetica Neue, "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
@activeColor: #ffffff;
@unactiveColor: #eeeeee;
@unactiveHoverColor: #dddddd;
@linkColor: #e4530b;
body {

    background: #f5f5f5;
    margin: 0;
    min-width: 1324px;

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    *::-webkit-scrollbar-track {
        background: #ddd;
    }

    *::-webkit-scrollbar-thumb {
        background: #666;
    }

    * {
        font-family: @normal;
        line-height: 1.4;
        color: #333;
        box-sizing: border-box;
    }

    #root {
        background: #f5f5f5;
        padding-bottom: 50px;
        position: relative;

        .main.jvr {
            width: 1000px;
            margin: auto;
        }

        .main.normal {
            width: 1000px;
            background: white;
            margin: auto;
            padding: 10px;

            &.jvrList {
                width: 1000px;
                background: transparent;
                padding: 0px;
            }
        }

    }

    .f {
        display: flex;

        &.r {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &.c {
            flex-direction: column;
        }
    }

    .fc {
        justify-content: center;
        align-items: center
    }

    .fs {
        justify-content: flex-start;
        align-items: center
    }

    .page-title {
        font-family: @hemi;
        font-size: 40px;
        line-height: 60px;
        width: 100%;
        padding-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .footer {
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: #999;
        line-height: 50px;
    }

    .panel {
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
        border-radius: 3px;
        background: white;

        &.panel-m-r {
            margin-right: 10px;
        }
    }

    .mycanvas {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(255, 255, 255, 0);
        pointer-events: none;
        z-index: 100000;
    }
}

@media only screen and (max-width: 480px) {
    body {
        .page-title {
            font-size: 25px;
            line-height: 40px;
            width: 100%;
            padding-left: 0;
        }

        min-width: 100vw;

        #root {
            .main.normal {
                position: static !important;
                width: 100vw;

                &.jvrList {
                    width: 100vw;

                    .my-selection {
                        display: none;
                    }
                }
            }

            .main.jvr {
                padding: 0;
                position: static !important;
                width: 100vw;
            }
        }
    }
}



@font-face {
    font-family: 'HemiHead';
    src: url('/static/hemihead.ttf') format('truetype');
}

@import './sideMenu.less';
@import './listView.less';
@import './singleView.less';
@import './pagination.less';
@import './actressView.less';
@import './categoryView.less';
@import './empty.less';
@import './recommendSection.less';
@import './studioView.less';
@import './chatRoom.less';
@import './ranking.less';