
@hemi: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
@normal: Helvetica Neue, "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
@activeColor: #ffffff;
@unactiveColor: #eeeeee;
@unactiveHoverColor: #dddddd;
@linkColor: #e4530b;
@whiteBg: rgba(255, 255, 255, 0.85);
@primary: #f9edc9;
@primaryDark: #E9AFA3;
@secondary: #f9edc9;
@footer: rgba(104, 80, 68, 0.85);

body {      
    img {
        border: none !important;
    }  
    background: white;
    margin: 0;
    min-width: 1485px;
    

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    *::-webkit-scrollbar-track {
        background: #ddd;
    }

    *::-webkit-scrollbar-thumb {
        background: #666;
    }

    * {
        font-family: @normal;
        line-height: 1.4;
        color: #333;
        box-sizing: border-box;
    }

    #root {
        background: transparent;
        padding-bottom: 115px;
        position: relative;
        min-height: calc(100vh + 100px);

        .main.jvr {
            width: 1160px;
            margin: auto;
        }

        .main.normal {
            width: 1160px;
            background: @whiteBg;
            margin: auto;
            padding: 10px;
            border-radius: 3px;
            &.jvrList {
                width: 1160px;
                background: transparent;
                padding: 0px;
            }
        }

    }

    .f {
        display: flex;

        &.r {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &.c {
            flex-direction: column;
        }
    }

    .fc {
        justify-content: center;
        align-items: center
    }

    .fs {
        justify-content: flex-start;
        align-items: center
    }

    .page-title {
        font-family: @hemi;
        font-size: 40px;
        line-height: 60px;
        width: 100%;
        padding-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .footer {
        width: 100%;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: @footer;
        div {
            color: white;
            text-align: center;
            color: white;
            margin-bottom: 15px;
            font-size: 16px;
        }
        a {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: white;
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
    }

    .panel {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 3px;
        background: @whiteBg;

        &.panel-m-r {
            margin-right: 10px;
        }
    }

    .mycanvas {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(255, 255, 255, 0);
        pointer-events: none;
        z-index: 100000;
    }
    .vultr-banner {
        width: 160px;
        height: 600px;
        display: inline-block;
        background-image: url('https://www.vultr.com/media/banners/banner_160x600.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 15px;
        vertical-align: top;
    }
    .page-bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

@media only screen and (max-width: 480px) {
    body {
        .page-title {
            font-size: 25px;
            line-height: 40px;
            width: 100%;
            padding-left: 2vw;
        }

        min-width: 100vw;

        #root {
            padding-bottom: 93px;
            .main.normal {
                position: static !important;
                width: 100vw;

                &.jvrList {
                    width: 100vw;
                    border-radius: 0px;
                    .my-selection {
                        display: none;
                    }
                }
            }

            .main.jvr {
                padding: 0;
                position: static !important;
                width: 100vw;
            }
        }
        .footer {
            div {
                font-size: 13px;
                margin-bottom: 5px;
            }
            a {
                font-size: 12px;
            }
        }
        .vultr-banner {
            display: block;
            background-image: url('https://www.vultr.com/media/banners/banner_468x60.png'); 
            width: 100%;
            height: 12.82vw;
            margin-top: 0px;
        }
    }
    
}


@font-face {
    font-family: 'HemiHead';
    src: url('/static/hemihead.ttf') format('truetype'), url('/static/hemihead.eot') format('embedded-opentype');
}

@import './sideMenu.less';
@import './listView.less';
@import './singleView.less';
@import './pagination.less';
@import './actressView.less';
@import './categoryView.less';
@import './empty.less';
@import './recommendSection.less';
@import './studioView.less';
@import './chatRoom.less';
@import './ranking.less';
