.ranking {
	.ranking-column {
		width: 25%;
		flex-grow: 0;
		flex-shrink: 0;
		.ranking-item {
			height: 90px;
			width: 100%;
			&.title {
				font-family: @hemi;
				height: 40px;
				
			}
			.item-index {
				padding: 5px;
				margin-right: 2px;
				border-radius: 3px;
				text-decoration: none;
			}
			img {
				height: 50px;
				max-width: 60px;
				padding: 0 5px;
			}
			.title {
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				width: 160px;
				padding: 0 5px;
				line-height: 1.4;
				font-size: 14px;
				color: #999;
			}

		}
		.ranking-item:nth-child( -n + 4 ) {
			.item-index {
				color: white;
				background: @primaryDark;
			}
		}
	}
}
.days-select {
	border: 1px solid @primary;
	border-radius:  5px;
	height: 24px;
	width: 212px;
	margin-left: 25px;
	.days-select-button {
		line-height: 24px;
		height: 100%;
		color: #999;
		width: 70px;
		display: flex;
		justify-content: center;
		font-family: @hemi;
		&.current {
			background: @primaryDark;
			color: white;
		}
	}
	.days-select-button:nth-child(n + 2) {
		border-left: 1px solid @primary;
	}
}

@media only screen and (max-width: 480px) {
    .days-select {
    	margin-left: 0px;
    	height: 18px;
    	.days-select-button {
    		font-size: 14px;
    		line-height: 18px;
    	}
    }
    .ranking {
    	.ranking-column {
    		width: 50%;
    		.ranking-item {
    			.title {
    				width: 105px;
    				font-size: 12px;
    				&.studio {
						width: 85px;
    				}
    			}
    		}
    	}
    }
}
