.recommend {
    
    .page-title {
        font-size: 25px;
        line-height: 40px;
        text-decoration: none;
    }
    .list-view {
        width: 100%;
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        touch-action: manipulation;
    }
}
@media only screen and (max-width: 480px) {
    .recommend {
        border-top: 1px solid #e4e4e4;

        .list-view {
        	justify-content: flex-start !important;
            .list-item {
            	img {
            		height: 54vw;
            		width: 40vw;
            	}
            }
        }
    }
}
