.jvr-list.recommend {
    width: 190px;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: top;
    .page-title {
        font-size: 20px;
        text-decoration: none;
        width: 100%;
        padding-left: 0;
        position: relative;
        &::after {
            content: '';
            background: @primaryDark;
            position: absolute;
            bottom: -5px;
            left: 25%;
            width: 50%;
            height: 2px;
        }
    }
    .list-view {
        width: 100%;
        .list-item {
            margin: 0 0 10px 0;
            width: 170px;
            position: relative;
            img.cover {
                width: 170px;
                height: 220px;
                padding: 0 !important;
            }
            img.rgbtn {
                width: 170px;
                height: 23px;
                position: absolute;
                top: 197px;
                left: 0;
                padding: 0 !important;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .jvr-list.recommend {
        margin: 0;
        width: 100vw;
        .page-title {
            width: 300px;
        }
        .list-view {
        	justify-content: flex-start !important;
            flex-direction: row !important;
            width: calc(100vw - 20px);
            overflow-x: auto;
            white-space: nowrap;
            .list-item {
                position: relative;
                img.cover {
                    height: 54vw;
                    width: 40vw;
                }
                img.rgbtn {
                    width: 40vw;
                    height: 5vw;
                    position: absolute;
                    top: 49vw;
                    left: 0;
                }
            }
        }
    }
}
