.side-menu {
	width: 100%;
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, 0.9);
	height: 50px;
	box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
	z-index: 1000;
	justify-content: space-between !important;
	* {
		text-align: center;
		font-family: @hemi;
	}

	.site-name {
		font-size: 22px;
		padding-left: 100px;
	}

	.search {
		padding-right: 20px;
		input {
			font-size: 20px;
			width: 200px;
			font-style: italic;
		}
	}

	.right {
		padding-right: 30px;
		font-size: 15px;
		color: #999;
		font-style: italic;
	}
}

.real-side-menu {
	width: 1000px;
	margin: 10px auto;
	border-radius: 3px;
	position: sticky;
	top: -38px;
	a {
		font-size: 20px;
		text-decoration: none;
		font-family: @hemi;
		display: inline-block;
		width: 100px;
		line-height: 40px;
		text-align: center;
		&:hover {
			background: @primary;
			color: white !important;
		}
		&:hover {
			i {
				color: white !important;
			}
		}
		&.current {
			color: @primary;
		}
		i {
			line-height: 40px;
		}
		&.rapidgator {
			width: 100%;
			padding-left: 20px;
			text-align: left;
		}
 	}
}



@media only screen and (max-width: 480px) {
	.side-menu {
		.site-name {
			font-size: 18px;
			padding-left: 20px;
		}

		.search {

			input {
				font-size: 15px;
				width: 180px;
			}
		}

		.right {
			display: none;
		}
	}
	.real-side-menu {
		width: 100%;
		top: -18px;
		a {	
			font-size: 14px;
			line-height: 30px;
			width: 14%;
			i {
				line-height: 30px;
			}
			&.rapidgator {
				padding-left: calc(~"7% - 20px");
			}
		}
	}
}
