.side-menu {
	width: 100%;
	position: relative;
	height: 200px;
	background-size: cover;
	background-position: center;
	text-align: center;
	* {
		text-align: center;
		font-family: @hemi;
		text-shadow: 0 0 3px rgba(155,155,155, 0.5);
	}

	.site-name {
		font-size: 25px;
		padding-left: 50px;
		margin-top: 12px;
		left: 0;
		top: 0;
		display: inline-block;
		position: absolute;
		color: white;
		text-align: left;
		.sub-name {
			font-size: 20px;
			color: white;
			font-style: italic;
			display: inline-block;
			margin-left: 20px;
		}	
	}

	.search {
		padding-right: 20px;
		padding-top: 20px;
		display: inline-block;
		input {
			font-size: 20px;
			width: 300px;
			font-style: italic;
			background: white;
			-webkit-appearance: none;
			border: none;
		}
	}
  #login {
		position: absolute;
		top: 15px;
		right: 5px;
		.login-or-register-root {
			color: white;
			* {
				color: white;
				border-color: white;
			}
		}
	}

}

.real-side-menu {
	width: 1160px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 3px;
	border-bottom: 1px solid #e4e4e4;
	justify-content: center;
	a {
		font-size: 20px;
		text-decoration: none;
		font-family: @hemi;
		display: inline-block;
		width: 100px;
		line-height: 40px;
		text-align: center;
		&:hover {
			background: @primary;
			color: white !important;
			&.half {
				span {
					color: white !important;
				}
			}
		}
		&:hover {
			i {
				color: white !important;
			}
		}
		&.current {
			color: @primary;
			&.half {
				span {
					color:  @primary;
				}
			}
		}
		i {
			line-height: 40px;
		}
		&.rapidgator {
			width: 100%;
			text-align: center;
		}
		&.half {
			width: 50%;
			text-align: center;
			span {
				font-family: @hemi;
				position: relative;
				top: -5px;
				left: 10px;
				font-size: 14px;
			}
		}
 	}
}



@media only screen and (max-width: 480px) {
	.side-menu {
		text-align: right;
		height: 100px;
		.site-name {
			font-size: 18px;
			padding-left: 20px;
			margin-top: 3px;
			.sub-name {
				font-size: 15px;
				display: block;
				margin-left: 0;
			}
		}

		.search {
			padding-right: 5px;
			padding-top: 13px;
			input {
				font-size: 15px;
				width: 180px;
			}
		}
		#login {
			bottom: 5px !important;
			top: auto;
		}
	}
	.real-side-menu {
		width: 100%;
		a {	
			font-size: 14px;
			line-height: 30px;
			width: 14%;
			i {
				line-height: 30px;
			}
		}
	}
}
