.jvr-single-container {
    width: 1000px;
    display: inline-block;
    .jvr-single-wrapper {
        display: inline-block;
        vertical-align: top;
    }
}

.single-view {
	width: 800px;
    .title {
        padding: 10px 0;
        border-bottom: 1px solid rgba(155, 155, 155, 0.5);
        position: relative;

        .hidden {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            font-weight: bold;
            margin-right: 10px;
            color: black;
        }
    }

    .detail {
        width: 100%;
		>img {
			display: block;
			width: 100%;
			margin: 10px 0 30px 0;
		}
        .gallery {
            height: 360px;
            width: 100%;
            white-space: nowrap;
            overflow-x: scroll;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            

            img {
            	pointer-events: none;
            	user-select: none;
            	touch-action: none;
                height: 350px;
                width: auto;
                margin-left: 10px;
            }

        }
    }

    .content {
        padding: 15px;
        > .label {
            margin: 15px;
            font-size: 20px;
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                background: @primaryDark;
                position: absolute;
                bottom: -5px;
                left: 25%;
                width: 50%;
                height: 2px;
            }
        }
        .info {
            font-size: 15px;
        }
        .section {
            a {
                font-size: 13px;
                color: @primaryDark;
            }
            .line {
                margin: 5px 0;

                * {
                    line-height: 2;
                    font-size: 13px;
                }

                .label {
                    width: 12%;
                    color: #999;
                    display: inline-block;
                    text-align: left;
                }

                .value {
                    color: #333;
                    display: inline-block;
                    width: 72%;
                    padding-left: 10px;
                    vertical-align: top;
                    a {
                        padding: 0 5px;
                        border-radius: 5px;
                        background: #EEE;
                        display: inline-block;
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 5px;
                        margin-right: 10px;
                        text-decoration: none;
                        color: @primaryDark;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 480px) {
	.jvr-single-container {
		width: 100%;
        .jvr-single-wrapper {
            width: 100%;
        }
	}
    .single-view {
        width: 100%;
        &.panel {
            margin-bottom: 0px;
        }
    	.title {
    		font-size: 14px;
    	}
    	.my-tab {
    		ul {
    			li {
    				label {
    					padding: 5px;
    					font-size: 12px;
    				}
    			}
    		}
    		.tab4,
    		.tab2 {
    			a {
    				word-break: break-all;
    				display: inline-block;
    			}
    		}
    		section {
    			>div {
    				padding: 10px;
    				.line {
    					* {
    						font-size: 12px;
    					}
    				}
    			}
    		}
    	}
    }
}