node_modules
npm-debug.log
.DS_Store
.idea
*.swp
logs/
sequelize/dbConfig.js
puppeteerAutoTask/javlibraryConf.js
tasks/syncRapidgator/rapidgatorTask/rapidgatorConfig.js
tasks/syncRapidgator/rapidgatorTask/ocrConfig.js
tasks/syncRapidgator/rapidgatorTask/k2sConfig.js
*.log
crawled*.*
*.txt
*.rar
koa/static/digital
koa/static/mono
koa/static/p
koa/static/r18
koa/static/r18User