node_modules
npm-debug.log
.DS_Store
.idea
*.swp
logs/
sequelize/dbConfig.js
puppeteerAutoTask/javlibraryConf.js
javarchiveTasks/rapidgatorConfig.js
javarchiveTasks/ocrConfig.js
*.log
crawled*.*
*.txt
*.rar
koa/static/digital
koa/static/mono
koa/static/p
koa/static/r18
koa/static/r18User