body {
  background: white;
  margin: 0;
  min-width: 1485px;
}
body img {
  border: none !important;
}
body *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body *::-webkit-scrollbar-track {
  background: #ddd;
}
body *::-webkit-scrollbar-thumb {
  background: #666;
}
body * {
  font-family: Helvetica Neue, "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
  line-height: 1.4;
  color: #333;
  box-sizing: border-box;
}
body #root {
  background: transparent;
  padding-bottom: 115px;
  position: relative;
  min-height: calc(100vh + 100px);
}
body #root .main.jvr {
  width: 1160px;
  margin: auto;
}
body #root .main.normal {
  width: 1160px;
  background: rgba(255, 255, 255, 0.85);
  margin: auto;
  padding: 10px;
  border-radius: 3px;
}
body #root .main.normal.jvrList {
  width: 1160px;
  background: transparent;
  padding: 0px;
}
body .f {
  display: flex;
}
body .f.r {
  flex-direction: row;
  flex-wrap: wrap;
}
body .f.c {
  flex-direction: column;
}
body .fc {
  justify-content: center;
  align-items: center;
}
body .fs {
  justify-content: flex-start;
  align-items: center;
}
body .page-title {
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
  font-size: 40px;
  line-height: 60px;
  width: 100%;
  padding-left: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
body .footer {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(104, 80, 68, 0.85);
}
body .footer div {
  text-align: center;
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
}
body .footer a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}
body .footer a img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
body .panel {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.85);
}
body .panel.panel-m-r {
  margin-right: 10px;
}
body .mycanvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
  z-index: 100000;
}
body .vultr-banner {
  width: 160px;
  height: 600px;
  display: inline-block;
  background-image: url('https://www.vultr.com/media/banners/banner_160x600.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  vertical-align: top;
}
body .page-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
@media only screen and (max-width: 480px) {
  body {
    min-width: 100vw;
  }
  body .page-title {
    font-size: 25px;
    line-height: 40px;
    width: 100%;
    padding-left: 0;
  }
  body #root {
    padding-bottom: 93px;
  }
  body #root .main.normal {
    position: static !important;
    width: 100vw;
  }
  body #root .main.normal.jvrList {
    width: 100vw;
    border-radius: 0px;
  }
  body #root .main.normal.jvrList .my-selection {
    display: none;
  }
  body #root .main.jvr {
    padding: 0;
    position: static !important;
    width: 100vw;
  }
  body .footer div {
    font-size: 13px;
    margin-bottom: 5px;
  }
  body .footer a {
    font-size: 12px;
  }
  body .vultr-banner {
    display: block;
    background-image: url('https://www.vultr.com/media/banners/banner_468x60.png');
    width: 100%;
    height: 12.82vw;
    margin-top: 0px;
  }
}
@font-face {
  font-family: 'HemiHead';
  src: url('/static/hemihead.ttf') format('truetype'), url('/static/hemihead.eot') format('embedded-opentype');
}
.top-menu {
  width: 100%;
  position: static;
  z-index: 100;
  top: -65px;
  left: 0;
  background: rgba(153, 178, 221, 0.35);
}
.top-menu * {
  text-align: center;
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
  text-shadow: 0 0 3px rgba(155, 155, 155, 0.65);
}
.top-menu .main-menu {
  position: relative;
  width: 1160px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}
.top-menu .main-menu .site-logo {
  padding-left: 50px;
  display: flex;
  flex: none;
  flex-direction: column;
  text-decoration: none;
}
.top-menu .main-menu .site-logo .site-name {
  font-size: 30px;
  color: white;
  text-align: left;
}
.top-menu .main-menu .site-logo .sub-name {
  font-size: 15px;
  color: white;
  font-style: italic;
}
.top-menu .main-menu .search {
  display: flex;
  flex: none;
  justify-content: flex-end;
  align-items: center;
}
.top-menu .main-menu .search input {
  font-size: 20px;
  width: 250px;
  color: white;
  font-style: italic;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  border: 1px solid white;
  border-radius: 30px;
  margin-right: 30px;
}
.top-menu .main-menu .search input::-webkit-input-placeholder {
  color: white;
}
.top-menu .main-menu .search #login .login-or-register-root {
  color: white !important;
}
.top-menu .main-menu .search #login .login-or-register-root * {
  color: white !important;
  border-color: white !important;
}
.top-menu .sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  width: 1160px;
  margin: 0 auto;
}
.top-menu .sub-menu .menu-items {
  display: flex;
  flex: none;
  align-items: center;
}
.top-menu .sub-menu .menu-items a {
  padding: 5px 30px 5px 0px;
}
.top-menu .sub-menu .switch {
  border-radius: 3px;
  border: 1px solid white;
}
.top-menu .sub-menu .switch a {
  display: inline-block;
  color: white;
  cursor: pointer;
}
.top-menu .sub-menu .switch a svg path {
  fill: white;
}
.top-menu .sub-menu .switch a span {
  color: white;
}
.top-menu .sub-menu .switch a:first-child {
  border-right: 1px solid white;
}
.top-menu .sub-menu a {
  color: #f9edc9;
  display: flex;
  flex: none;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}
.top-menu .sub-menu a span {
  color: #f9edc9;
}
.top-menu .sub-menu a svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: bottom;
}
.top-menu .sub-menu a svg path {
  fill: #f9edc9;
}
.top-menu .sub-menu a.current,
.top-menu .sub-menu a :hover {
  color: #E9AFA3;
}
.top-menu .sub-menu a.current svg path,
.top-menu .sub-menu a :hover svg path {
  fill: #E9AFA3;
}
.top-menu-offset {
  height: 115px;
  content: ' ';
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .top-menu {
    width: 100%;
    position: static;
    top: -65px;
  }
  .top-menu .main-menu {
    width: 100vw;
    height: 70px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .top-menu .main-menu .site-logo {
    padding-left: 0;
  }
  .top-menu .main-menu .site-logo .site-name {
    font-size: 20px;
  }
  .top-menu .main-menu .site-logo .sub-name {
    font-size: 10px;
  }
  .top-menu .main-menu .search {
    flex-direction: column;
    align-items: flex-end;
  }
  .top-menu .main-menu .search input {
    font-size: 15px;
    width: 180px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .top-menu .main-menu .search #login .login-or-register-root {
    color: white !important;
  }
  .top-menu .main-menu .search #login .login-or-register-root * {
    color: white !important;
    border-color: white !important;
  }
  .top-menu .main-menu .search #login .login-or-register-root .MuiAvatar-root {
    height: 30px;
    width: 30px;
  }
  .top-menu .main-menu .search #login .login-or-register-root .logined {
    width: auto !important;
  }
  .top-menu .sub-menu {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100vw;
    overflow-x: scroll;
    touch-action: manipulation;
    -webkit-overflow-scrolling: scroll;
  }
  .top-menu .sub-menu::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  .top-menu .sub-menu .menu-items {
    display: flex;
    flex: none;
    align-items: center;
  }
  .top-menu .sub-menu .menu-items a {
    padding: 2px 10px 2px 0px;
  }
  .top-menu .sub-menu .switch {
    border-radius: 3px;
    border: 1px solid white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: none;
  }
  .top-menu .sub-menu .switch a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .top-menu .sub-menu a {
    font-size: 13px;
    padding: 2px 5px;
    transition: all 0.3s ease-in-out;
  }
  .top-menu .sub-menu a svg {
    width: 12px;
    height: 12px;
    margin-right: 2px;
    vertical-align: bottom;
  }
  .top-menu-offset {
    height: 99px;
    margin-bottom: 0px;
  }
}
.jvr-list {
  width: 850px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.85);
  display: inline-block;
  border-radius: 3px;
}
.jvr-list .list-view {
  justify-content: space-evenly;
  padding-top: 16px;
}
.jvr-list .list-view .list-item {
  width: 410px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-bottom: 8px;
}
.jvr-list .list-view .list-item img.cover {
  width: 100%;
  min-height: 250px;
  height: auto;
  display: inherit;
}
.jvr-list .list-view .list-item .new-tag {
  position: absolute;
  top: 20px;
  left: -5px;
  font-size: 8px;
  display: inline-block;
  padding: 3px 5px;
  border-top-right-radius: 3px;
  color: white;
  background: orange;
}
.jvr-list .list-view .list-item .bottom {
  padding: 8px;
}
.jvr-list .list-view .list-item .bottom .code {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 56px;
}
.jvr-list .list-view .list-item .bottom .code span {
  font-size: 13px;
  color: black;
}
.right-column-wrap {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.right-column-wrap .my-selection {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.right-column-wrap .my-selection .page-title {
  font-size: 18px;
  line-height: 50px;
}
.right-column-wrap .my-selection .selection-wrap {
  width: 100%;
}
.right-column-wrap .my-selection .selection-wrap .list-item {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}
.right-column-wrap .my-selection .selection-wrap .list-item * {
  vertical-align: middle;
}
.right-column-wrap .my-selection .selection-wrap .list-item img {
  height: auto;
  width: 50px;
  padding: 0 5px;
  display: inline-block;
  transition: all 0.1s linear;
}
.right-column-wrap .my-selection .selection-wrap .list-item img:hover {
  transform: scaleX(3) scaleY(3);
}
.right-column-wrap .my-selection .selection-wrap .list-item .item-index {
  padding: 5px;
  margin-right: 2px;
  border-radius: 3px;
  text-decoration: inherit;
  display: inline-block;
}
.right-column-wrap .my-selection .selection-wrap .list-item .title {
  width: 190px;
  padding: 0 5px;
  line-height: 1.4;
  font-size: 14px;
  color: #999;
  max-height: 60px;
  display: inline-block;
  overflow: hidden;
}
.right-column-wrap .my-selection .selection-wrap .list-item:nth-child( -n + 3 ) .item-index {
  color: white;
  background: #E9AFA3;
}
@media only screen and (max-width: 480px) {
  .jvr-list {
    width: 100vw;
    margin-right: 0px;
  }
  .jvr-list .list-view .list-item {
    width: 96vw;
    margin: 0;
    min-height: 60vw;
    box-shadow: none;
  }
  .jvr-list .list-view .list-item img.cover {
    width: 100%;
    height: auto;
  }
  .jvr-list .list-view .list-item .bottom {
    padding: 8px;
  }
  .jvr-list .list-view .list-item .bottom .code {
    font-size: 20px;
  }
  .jvr-list .list-view .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 37px;
  }
  .my-selection {
    display: none !important;
  }
  .jvrList .right-column-wrap {
    display: none;
  }
}
.jvr-single-container {
  width: 1000px;
  display: inline-block;
}
.jvr-single-container .jvr-single-wrapper {
  display: inline-block;
  vertical-align: top;
}
.single-view {
  width: 800px;
}
.single-view .title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
  position: relative;
}
.single-view .title .hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.single-view .title span {
  margin-right: 10px;
  color: black;
  font-size: 20px;
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
}
.single-view .detail {
  width: 100%;
}
.single-view .detail > img {
  display: block;
  width: 100%;
  margin: 10px 0 30px 0;
}
.single-view .detail .gallery {
  height: 360px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}
.single-view .detail .gallery img {
  pointer-events: none;
  user-select: none;
  touch-action: none;
  height: 350px;
  width: auto;
  margin-left: 10px;
}
.single-view .content > .label {
  margin: 15px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
}
.single-view .content > .label::after {
  content: '';
  background: #E9AFA3;
  position: absolute;
  bottom: -5px;
  left: 25%;
  width: 50%;
  height: 2px;
}
.single-view .content .info {
  font-size: 14px;
}
.single-view .content .section a {
  font-size: 13px;
  color: #E9AFA3;
  display: block;
  line-height: 2;
  word-break: break-all;
}
.single-view .content .section .line {
  margin: 5px 0;
}
.single-view .content .section .line * {
  line-height: 2;
  font-size: 13px;
}
.single-view .content .section .line .label {
  width: 12%;
  color: #999;
  display: inline-block;
  text-align: left;
}
.single-view .content .section .line .value {
  color: #333;
  display: inline-block;
  width: 72%;
  padding-left: 10px;
  vertical-align: top;
}
.single-view .content .section .line .value a {
  padding: 0 5px;
  border-radius: 5px;
  background: #EEE;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: #E9AFA3;
}
@media only screen and (max-width: 480px) {
  .jvr-single-container {
    width: 100%;
  }
  .jvr-single-container .jvr-single-wrapper {
    width: 100%;
  }
  .single-view {
    width: 100%;
  }
  .single-view.panel {
    margin-bottom: 0px;
  }
  .single-view .title {
    font-size: 14px;
  }
  .single-view .my-tab ul li label {
    padding: 5px;
    font-size: 12px;
  }
  .single-view .my-tab .tab4 a,
  .single-view .my-tab .tab2 a {
    word-break: break-all;
    display: inline-block;
  }
  .single-view .my-tab section > div {
    padding: 10px;
  }
  .single-view .my-tab section > div .line * {
    font-size: 12px;
  }
}
.pagination {
  display: inline-block;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
.pagination * {
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
  display: inline-block;
  width: 40px;
  text-align: center;
}
.pagination .page.disabled * {
  color: #999;
}
.pagination .page.current * {
  color: #E9AFA3;
}
@media only screen and (max-width: 480px) {
  .pagination * {
    width: 30px;
  }
}
.actress-view .actress-pagination {
  width: 100%;
  text-align: center;
}
.actress-view .actress-pagination .pagination {
  display: inline-block;
  width: 20px;
}
.actress-view .actress-pagination .pagination * {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.actress-view .actress-pagination .pagination.current * {
  color: #f9edc9;
}
.actress-view .actress-lists {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.actress-view .actress-lists .list-item {
  width: 125px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}
.actress-view .actress-lists .list-item img {
  width: 125px;
}
.actress-view .actress-lists .list-item .bottom {
  padding: 8px;
}
.actress-view .actress-lists .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 480px) {
  .actress-view .actress-pagination .pagination {
    width: 20px;
    margin: 5px 0;
  }
  .actress-view .actress-pagination .pagination.current * {
    color: #f9edc9;
  }
  .actress-view .actress-lists .list-item {
    margin: 0;
    box-shadow: none;
    width: 50%;
  }
  .actress-view .actress-lists .list-item img {
    width: 100%;
    height: 47vw;
  }
  .actress-view .actress-lists .list-item .bottom {
    padding: 8px;
  }
  .actress-view .actress-lists .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.category-view .category-block .category-title {
  background: #f9edc9;
  color: white;
  width: 100%;
  line-height: 50px;
  height: 50px;
  justify-content: flex-start;
  padding-left: 25px;
}
.category-view .category-block .category-items {
  width: 100%;
  padding: 10px;
}
.category-view .category-block .category-items .list-item {
  display: inline-block;
}
.category-view .category-block .category-items .list-item.image {
  margin: 10px;
}
.category-view .category-block .category-items .list-item.image img {
  width: 140px;
  height: 198px;
}
.category-view .category-block .category-items .list-item.flat {
  width: 25%;
  min-width: 150px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.category-view .category-block .category-items .list-item .bottom {
  padding: 8px;
}
.category-view .category-block .category-items .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.empty {
  width: 100%;
  height: 400px;
  font-size: 25px;
  text-align: center;
}
.jvr-list.recommend {
  width: 190px;
  margin: 0 0 0 5px;
  display: inline-block;
  vertical-align: top;
}
.jvr-list.recommend .page-title {
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  padding-left: 0;
  position: relative;
}
.jvr-list.recommend .page-title::after {
  content: '';
  background: #E9AFA3;
  position: absolute;
  bottom: -5px;
  left: 25%;
  width: 50%;
  height: 2px;
}
.jvr-list.recommend .list-view {
  width: 100%;
}
.jvr-list.recommend .list-view .list-item {
  margin: 0 0 10px 0;
  width: 170px;
  position: relative;
}
.jvr-list.recommend .list-view .list-item img.cover {
  width: 170px;
  height: 220px;
  padding: 0 !important;
}
.jvr-list.recommend .list-view .list-item img.rgbtn {
  width: 170px;
  height: 23px;
  position: absolute;
  top: 197px;
  left: 0;
  padding: 0 !important;
}
@media only screen and (max-width: 480px) {
  .jvr-list.recommend {
    margin: 0;
    width: 100vw;
  }
  .jvr-list.recommend .page-title {
    width: 300px;
  }
  .jvr-list.recommend .list-view {
    justify-content: flex-start !important;
    flex-direction: row !important;
    width: calc(100vw - 20px);
    overflow-x: auto;
    white-space: nowrap;
  }
  .jvr-list.recommend .list-view .list-item {
    position: relative;
  }
  .jvr-list.recommend .list-view .list-item img.cover {
    height: 54vw;
    width: 40vw;
  }
  .jvr-list.recommend .list-view .list-item img.rgbtn {
    width: 40vw;
    height: 5vw;
    position: absolute;
    top: 49vw;
    left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .actress-view .actress-lists .list-item {
    margin: 0;
    box-shadow: none;
    width: 50%;
  }
  .actress-view .actress-lists .list-item img {
    width: 100%;
    height: 47vw;
  }
  .actress-view .actress-lists .list-item .bottom {
    padding: 8px;
  }
  .actress-view .actress-lists .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.top-menu #login .login-or-register-root .instant-message {
  transform: translateX(300px);
  -ms-transform: translateX(300px);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: calc(100vh - 200px);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.96);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.top-menu #login .login-or-register-root .instant-message.booted {
  transform: translateX(0px);
  -ms-transform: translateX(0px);
}
.top-menu #login .login-or-register-root .instant-message .switch {
  position: absolute;
  top: calc(50% - 25px);
  left: -40px;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .switch i {
  font-size: 30px;
  color: #333 !important;
}
.top-menu #login .login-or-register-root .instant-message .room-title {
  text-align: left;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: 1px solid #e4e4e4;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .room-title .count {
  float: right;
  font-size: 13px;
  line-height: 50px;
  padding-right: 20px;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .message-panel {
  height: calc(100vh - 300px);
  overflow-y: scroll;
  border-bottom: 1px solid #e4e4e4;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap {
  padding: 10px 0;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .time-stamp {
  font-size: 11px;
  color: #aaa;
  padding: 0 20px;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message {
  justify-content: flex-start;
  width: 100%;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine {
  flex-direction: row-reverse;
  text-align: right;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content {
  align-items: flex-end;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content .name {
  text-align: right;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content .content {
  background: #f1f1f1;
  color: #aaa;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content .content * {
  color: #aaa;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content .content .jvr .jvr-title {
  text-align: right;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message.mine .message-content .content .jvr .jvr-img {
  text-align: right;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  margin: 0px 8px;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content {
  align-items: flex-start;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .name {
  font-size: 11px;
  color: #aaa;
  text-align: left;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .content {
  font-size: 13px;
  color: #666;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  background: #2977fa;
  color: white;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .content a {
  color: #f56f21;
  font-weight: bold;
  cursor: pointer;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .content .jvr .jvr-title {
  font-size: 12px;
  width: 100%;
  color: white;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #aaa;
  margin-bottom: 4px;
  text-align: left;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .content .jvr img {
  width: 60%;
  height: auto;
}
.top-menu #login .login-or-register-root .instant-message .message-panel .message-wrap .message .message-content .content .jvr .jvr-img {
  text-align: left;
}
.top-menu #login .login-or-register-root .instant-message .emoji-pop {
  position: absolute;
  bottom: 50px;
  right: 0;
  background: white;
}
.top-menu #login .login-or-register-root .instant-message .emoji-pop .top {
  padding: 10px;
}
.top-menu #login .login-or-register-root .instant-message .emoji-pop .top i {
  float: right;
}
.top-menu #login .login-or-register-root .instant-message .emoji-pop .emoji-wrap {
  width: 300px;
  height: 200px;
  overflow: auto;
  flex-wrap: wrap;
}
.top-menu #login .login-or-register-root .instant-message .emoji-pop .emoji-wrap .emoji {
  width: 10%;
  height: 30px;
}
.top-menu #login .login-or-register-root .instant-message .user-input {
  height: 50px;
}
.top-menu #login .login-or-register-root .instant-message .user-input input {
  border: none;
  width: 195px;
  padding: 0 15px;
  margin-right: 5px;
  height: 50px;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .user-input button {
  border: none;
  width: 50px;
  font-size: 20px;
  background: white;
  line-height: 50px;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .user-input button i {
  color: #aaa !important;
  font-size: 20px;
  color: #333;
}
.top-menu #login .login-or-register-root .instant-message .chat-user-login-button {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: #333;
}
@media only screen and (max-width: 480px) {
  .side-menu #login .login-or-register-root .instant-message {
    height: calc(100vh - 100px);
  }
  .side-menu #login .login-or-register-root .instant-message *::-webkit-scrollbar {
    display: none !important;
  }
  .side-menu #login .login-or-register-root .instant-message .switch {
    top: 83%;
  }
  .side-menu #login .login-or-register-root .instant-message .message-panel {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 200px);
  }
  .side-menu #login .login-or-register-root .instant-message .emoji-pop .emoji-wrap {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
}
.ranking .ranking-column {
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.ranking .ranking-column .ranking-item {
  height: 90px;
  width: 100%;
}
.ranking .ranking-column .ranking-item.title {
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
  height: 40px;
}
.ranking .ranking-column .ranking-item .item-index {
  padding: 5px;
  margin-right: 2px;
  border-radius: 3px;
  text-decoration: none;
}
.ranking .ranking-column .ranking-item img {
  height: 50px;
  max-width: 60px;
  padding: 0 5px;
}
.ranking .ranking-column .ranking-item .title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 160px;
  padding: 0 5px;
  line-height: 1.4;
  font-size: 14px;
  color: #999;
}
.ranking .ranking-column .ranking-item:nth-child( -n + 4 ) .item-index {
  color: white;
  background: #E9AFA3;
}
.days-select {
  border: 1px solid #f9edc9;
  border-radius: 5px;
  height: 24px;
  width: 212px;
  margin-left: 25px;
}
.days-select .days-select-button {
  line-height: 24px;
  height: 100%;
  color: #999;
  width: 70px;
  display: flex;
  justify-content: center;
  font-family: "HemiHead", "微软雅黑", "黑体", "宋体", Helvetica, Arial, Utkal, sans-serif;
}
.days-select .days-select-button.current {
  background: #E9AFA3;
  color: white;
}
.days-select .days-select-button:nth-child(n + 2) {
  border-left: 1px solid #f9edc9;
}
@media only screen and (max-width: 480px) {
  .days-select {
    margin-left: 0px;
    height: 18px;
  }
  .days-select .days-select-button {
    font-size: 14px;
    line-height: 18px;
  }
  .ranking .ranking-column {
    width: 50%;
  }
  .ranking .ranking-column .ranking-item .title {
    width: 105px;
    font-size: 12px;
  }
  .ranking .ranking-column .ranking-item .title.studio {
    width: 85px;
  }
}
