body {
  background: #f5f5f5;
  margin: 0;
}
body * {
  font-family: Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
  line-height: 1.4;
  color: #333;
}
body #root {
  background: #f5f5f5;
}
body #root .main {
  background: white;
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
}
body .f {
  display: flex;
}
body .f.r {
  flex-direction: row;
}
body .f.c {
  flex-direction: column;
}
body .fc {
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'HemiHead';
  src: url('/static/hemihead.ttf') format('truetype');
}
.side-menu {
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  height: 50px;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
}
.side-menu * {
  text-align: center;
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
}
.side-menu .site-name {
  font-size: 22px;
  padding: 30px 0;
  position: absolute;
  left: 100px;
  line-height: 40px;
}
.side-menu .search input {
  font-size: 20px;
  width: 200px;
}
.side-menu .right {
  position: absolute;
  right: 30px;
  font-size: 15px;
  color: #999;
}
.list-view .list-item {
  width: 147px;
  background: white;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(155, 155, 155, 0.5);
  display: inline-block;
  text-decoration: none;
}
.list-view .list-item .img {
  width: 100%;
  height: 200px;
}
.list-view .list-item .bottom {
  padding: 8px;
}
.list-view .list-item .bottom .code {
  font-size: 20px;
}
.list-view .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.single-view .title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}
.single-view .title span {
  font-weight: bold;
  margin-right: 10px;
  color: black;
}
.single-view .detail {
  width: 100%;
}
.single-view .detail * {
  vertical-align: top;
  font-size: 14px;
}
.single-view .detail .left {
  display: inline-block;
}
.single-view .detail .left img {
  width: 600px;
  height: 375px;
  margin-top: 10px;
}
.single-view .detail .right {
  display: inline-block;
  width: 400px;
  margin-left: 10px;
}
.single-view .detail .right .line {
  margin: 5px 0;
}
.single-view .detail .right .line * {
  line-height: 2;
}
.single-view .detail .right .line .label {
  width: 120px;
  color: #999;
  display: inline-block;
  text-align: right;
}
.single-view .detail .right .line .value {
  color: #333;
  display: inline-block;
  width: 270px;
  padding-left: 10px;
}
.single-view .detail .right .line .value a {
  padding: 0 5px;
  border-radius: 5px;
  background: rgba(255, 85, 85, 0.5);
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination * {
  display: flex;
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
  justify-content: center;
  align-items: center;
}
.pagination .page {
  width: 30px;
  flex-direction: column;
}
.pagination .page.disabled * {
  color: #999;
}
.pagination .page.current * {
  color: red;
}
.actress-view .actress-pagination .pagination {
  width: 20px;
}
.actress-view .actress-pagination .pagination.current * {
  color: red;
}
.actress-view .actress-lists {
  width: 100%;
  flex-wrap: wrap;
}
.actress-view .actress-lists .list-item {
  width: 125px !important;
  height: 160px;
  background: white;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(155, 155, 155, 0.5);
  display: inline-block;
  text-decoration: none;
}
.actress-view .actress-lists .list-item .img {
  width: 100%;
}
.actress-view .actress-lists .list-item .bottom {
  padding: 8px;
}
.actress-view .actress-lists .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
