body {
  background: #f5f5f5;
  margin: 0;
}
body *::-webkit-scrollbar {
  width: 5px;
}
body *::-webkit-scrollbar-track {
  background: #ddd;
}
body *::-webkit-scrollbar-thumb {
  background: #666;
}
body * {
  font-family: Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
  line-height: 1.4;
  color: #333;
  box-sizing: border-box;
}
body #root {
  background: #f5f5f5;
  padding-bottom: 50px;
  position: relative;
}
body #root .main {
  background: white;
  padding: 10px;
  width: 1024px;
  margin: auto;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
  position: absolute;
  top: 50px;
  left: 160px;
}
body .f {
  display: flex;
}
body .f.r {
  flex-direction: row;
  flex-wrap: wrap;
}
body .f.c {
  flex-direction: column;
}
body .fc {
  justify-content: center;
  align-items: center;
}
body .page-title {
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
  font-size: 40px;
  line-height: 60px;
  width: 100%;
  padding-left: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
body .footer {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #999;
  line-height: 50px;
}
@media only screen and (max-width: 480px) {
  body .page-title {
    font-size: 25px;
    line-height: 40px;
    width: 100%;
    padding-left: 0;
  }
  body #root .main {
    padding: 2.5vw;
    position: static !important;
    width: 100vw;
  }
}
@font-face {
  font-family: 'HemiHead';
  src: url('/static/hemihead.ttf') format('truetype');
}
.side-menu {
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  height: 50px;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
  z-index: 1000;
}
.side-menu * {
  text-align: center;
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
}
.side-menu .site-name {
  font-size: 22px;
  position: absolute;
  left: 100px;
  line-height: 40px;
}
.side-menu .search input {
  font-size: 20px;
  width: 200px;
}
.side-menu .right {
  position: absolute;
  right: 30px;
  font-size: 15px;
  color: #999;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  box-shadow: 0 0px 5px rgba(155, 155, 155, 0.5);
  width: 100%;
  z-index: 1001;
}
.bottom-nav a {
  display: inline-block;
  width: 50%;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}
.bottom-nav a.current {
  color: #f72020;
}
.real-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background: white;
  justify-content: flex-start !important;
  padding-top: 100px;
}
.real-side-menu a {
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
}
.real-side-menu a.current {
  color: #f72020;
}
@media only screen and (min-width: 480px) {
  .bottom-nav {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .side-menu .site-name {
    font-size: 18px;
    left: 20px;
  }
  .side-menu .search {
    position: absolute;
    right: 20px;
  }
  .side-menu .search input {
    font-size: 15px;
    width: 180px;
  }
  .side-menu .right {
    display: none;
  }
  .real-side-menu {
    display: none !important;
  }
}
.list-view {
  justify-content: space-around;
}
.list-view .list-item {
  width: 147px;
  background: white;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(155, 155, 155, 0.5);
  display: inline-block;
  text-decoration: none;
}
.list-view .list-item img {
  width: 147px;
  height: 200px;
}
.list-view .list-item .bottom {
  padding: 8px;
}
.list-view .list-item .bottom .code {
  font-size: 20px;
}
.list-view .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 480px) {
  .list-view .list-item {
    width: 50%;
    margin: 0;
    box-shadow: none;
  }
  .list-view .list-item img {
    width: 100%;
    height: 68vw;
    padding: 1.5vw;
  }
  .list-view .list-item .bottom {
    padding: 8px;
  }
  .list-view .list-item .bottom .code {
    font-size: 20px;
  }
  .list-view .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.single-view .title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}
.single-view .title span {
  font-weight: bold;
  margin-right: 10px;
  color: black;
}
.single-view .detail {
  width: 100%;
}
.single-view .detail * {
  vertical-align: top;
  font-size: 14px;
}
.single-view .detail .left {
  display: inline-block;
  position: relative;
}
.single-view .detail .left #video-button {
  position: absolute;
  top: 20px;
  left: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}
.single-view .detail .left #video-button svg path {
  fill: #999;
}
.single-view .detail .left #video-button div {
  color: #999;
}
.single-view .detail .left > img {
  width: 500px;
  height: 312px;
  margin-top: 10px;
}
.single-view .detail .left .gallery {
  height: 100px;
  width: 500px;
  white-space: nowrap;
  overflow-x: scroll;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  margin: 10px 0;
}
.single-view .detail .left .gallery a img {
  height: 100%;
  width: auto;
  margin-left: 10px;
}
.single-view .detail .right {
  display: inline-block;
  width: 400px;
  margin-left: 10px;
}
.single-view .detail .right .line {
  margin: 5px 0;
}
.single-view .detail .right .line * {
  line-height: 2;
  font-size: 13px;
}
.single-view .detail .right .line .label {
  width: 25%;
  color: #999;
  display: inline-block;
  text-align: right;
}
.single-view .detail .right .line .value {
  color: #333;
  display: inline-block;
  width: 75%;
  padding-left: 10px;
}
.single-view .detail .right .line .value a {
  padding: 0 5px;
  border-radius: 5px;
  background: #EEE;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: #DD1B1B;
}
.single-view .action {
  text-align: center;
}
.single-view .action a {
  display: inline-block;
  background: #f72020;
  font-weight: bold;
  color: white;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.jBox-wrapper.jBox-Modal .jBox-container .jBox-content {
  padding: 0px !important;
}
.jBox-wrapper.jBox-Modal .jBox-container .jBox-content video {
  width: 100%;
}
.jBox-overlay.jBox-overlay-Modal {
  background: black !important;
}
@media only screen and (max-width: 480px) {
  .single-view .detail {
    width: 100%;
  }
  .single-view .detail .left {
    width: 100%;
  }
  .single-view .detail .left img {
    width: 100%;
    height: 60vw;
  }
  .single-view .detail .gallery {
    width: 100% !important;
  }
  .single-view .detail .right {
    width: 100%;
  }
  .single-view .detail .right .line .label {
    text-align: left;
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.pagination * {
  display: flex;
  font-family: "HemiHead", Helvetica, Arial, Utkal, sans-serif;
  justify-content: center;
  align-items: center;
}
.pagination .page {
  width: 30px;
  flex-direction: column;
}
.pagination .page.disabled * {
  color: #999;
}
.pagination .page.current * {
  color: red;
}
.actress-view .actress-pagination .pagination {
  width: 20px;
}
.actress-view .actress-pagination .pagination.current * {
  color: #f72020;
}
.actress-view .actress-lists {
  width: 100%;
  flex-wrap: wrap;
}
.actress-view .actress-lists .list-item {
  width: 125px;
  background: white;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(155, 155, 155, 0.5);
  display: inline-block;
  text-decoration: none;
}
.actress-view .actress-lists .list-item img {
  width: 125px;
}
.actress-view .actress-lists .list-item .bottom {
  padding: 8px;
}
.actress-view .actress-lists .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 480px) {
  .actress-view .actress-lists .list-item {
    margin: 0;
    box-shadow: none;
    width: 50%;
  }
  .actress-view .actress-lists .list-item img {
    width: 100%;
    height: 47vw;
  }
  .actress-view .actress-lists .list-item .bottom {
    padding: 8px;
  }
  .actress-view .actress-lists .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.category-view .category-block .category-title {
  background: #f72020;
  color: white;
  width: 100%;
  line-height: 50px;
  height: 50px;
  justify-content: flex-start;
  padding-left: 25px;
}
.category-view .category-block .category-items {
  justify-content: space-around;
  padding: 10px;
}
.category-view .category-block .category-items .list-item.image {
  background: white;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(155, 155, 155, 0.5);
}
.category-view .category-block .category-items .list-item.image img {
  width: 140px;
  height: 198px;
}
.category-view .category-block .category-items .list-item.flat {
  width: 25%;
  min-width: 150px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.category-view .category-block .category-items .list-item .bottom {
  padding: 8px;
}
.category-view .category-block .category-items .list-item .bottom .title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.empty {
  width: 100%;
  height: 400px;
  font-size: 25px;
  text-align: center;
}
.recommend {
  border-top: 1px solid #e4e4e4;
}
.recommend .page-title {
  font-size: 25px;
  line-height: 40px;
  text-decoration: none;
}
.recommend .list-view {
  width: 100%;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}
@media only screen and (max-width: 480px) {
  .recommend {
    border-top: 1px solid #e4e4e4;
  }
  .recommend .list-view {
    justify-content: flex-start !important;
  }
  .recommend .list-view .list-item img {
    height: 54vw;
    width: 40vw;
  }
}
.actress-view .actress-lists .list-item img {
  padding: 5px;
}
@media only screen and (max-width: 480px) {
  .actress-view .actress-lists .list-item {
    margin: 0;
    box-shadow: none;
    width: 50%;
  }
  .actress-view .actress-lists .list-item img {
    width: 100%;
    height: 47vw;
  }
  .actress-view .actress-lists .list-item .bottom {
    padding: 8px;
  }
  .actress-view .actress-lists .list-item .bottom .title {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.instant-message {
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: calc(100vh - 50px);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.96);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.instant-message.booted {
  transform: translateX(0);
}
.instant-message .switch {
  position: absolute;
  top: calc(50% - 15px);
  left: -20px;
}
.instant-message .switch i {
  font-size: 30px;
  color: #4e4e4e;
}
.instant-message .room-title {
  text-align: left;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: 1px solid #e4e4e4;
}
.instant-message .room-title .count {
  float: right;
  font-size: 13px;
  color: #aaa;
  line-height: 50px;
  padding-right: 20px;
}
.instant-message .message-panel {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  border-bottom: 1px solid #e4e4e4;
}
.instant-message .message-panel .message-wrap {
  padding: 10px 0;
}
.instant-message .message-panel .message-wrap .time-stamp {
  font-size: 11px;
  color: #aaa;
  padding: 0 20px;
}
.instant-message .message-panel .message-wrap .message {
  justify-content: flex-start;
  width: 100%;
}
.instant-message .message-panel .message-wrap .message.mine {
  flex-direction: row-reverse;
}
.instant-message .message-panel .message-wrap .message.mine .message-content {
  align-items: flex-end;
}
.instant-message .message-panel .message-wrap .message.mine .message-content .content {
  background: #f1f1f1;
  color: #aaa;
}
.instant-message .message-panel .message-wrap .message.mine .message-content .content * {
  color: #aaa;
}
.instant-message .message-panel .message-wrap .message .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  margin: 0px 8px;
  box-shadow: 0 5px 5px rgba(155, 155, 155, 0.5);
}
.instant-message .message-panel .message-wrap .message .message-content {
  align-items: flex-start;
}
.instant-message .message-panel .message-wrap .message .message-content .name {
  font-size: 11px;
  color: #aaa;
}
.instant-message .message-panel .message-wrap .message .message-content .content {
  font-size: 13px;
  color: #666;
  max-width: 180px;
  border-radius: 10px;
  padding: 10px;
  background: #2977fa;
  color: white;
}
.instant-message .message-panel .message-wrap .message .message-content .content .jvr .jvr-title {
  font-size: 12px;
  width: 100%;
  color: #aaa;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.instant-message .message-panel .message-wrap .message .message-content .content .jvr img {
  width: 60%;
  height: auto;
}
.instant-message .emoji-pop {
  position: absolute;
  bottom: 50px;
  right: 0;
  background: white;
}
.instant-message .emoji-pop .top {
  padding: 10px;
}
.instant-message .emoji-pop .top i {
  float: right;
}
.instant-message .emoji-pop .emoji-wrap {
  width: 300px;
  height: 200px;
  overflow: auto;
  flex-wrap: wrap;
}
.instant-message .emoji-pop .emoji-wrap .emoji {
  width: 10%;
  height: 30px;
}
.instant-message .user-input {
  height: 50px;
}
.instant-message .user-input input {
  border: none;
  width: 195px;
  padding: 0 15px;
  margin-right: 5px;
  height: 50px;
}
.instant-message .user-input button {
  border: none;
  width: 50px;
  font-size: 20px;
  background: white;
  line-height: 50px;
}
.instant-message .user-input button i {
  color: #aaa !important;
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  .instant-message *::-webkit-scrollbar {
    display: none !important;
  }
  .instant-message .message-panel {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
  .instant-message .emoji-pop .emoji-wrap {
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
}
